version: "3.9"

services:
  db:
    image: postgres:17
    container_name: odoo19-db
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=odoo
      - POSTGRES_PASSWORD=odoo
    volumes:
      - odoo19-db-data:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  odoo:
    image: odoo:19
    container_name: odoo19
    depends_on:
      - db
    ports:
      - "8069:8069"
    environment:
      - HOST=db
      - USER=odoo
      - PASSWORD=odoo
    volumes:
      - ./addons:/mnt/extra-addons
      - ./config/odoo.conf:/etc/odoo/odoo.conf
      - odoo19-web-data:/var/lib/odoo
      - ./logs:/var/lib/odoo
    command: ["odoo", "-c", "/etc/odoo/odoo.conf"]

volumes:
  odoo19-db-data:
  odoo19-web-data: